.regions circle {
  transition: r 0.3s ease, fill 0.3s ease;
}

.regions circle:hover {
  filter: drop-shadow(0 0 8px rgb(0, 255, 17)); /* жёлтое свечение */
  cursor: pointer;
}
.region { fill:#917abdbd; opacity:.9; transition: fill .2s ease, opacity .2s ease; }
.region.highlighted { fill:#5fbf86; opacity:1; }

.region {
 
  transition: fill 0.3s ease;
}


.region.highlighted {
  fill: #a578ff; /* сам цвет области */
  opacity: 1;
  filter: drop-shadow(0 0 5px #a578ff)
          drop-shadow(0 0 30px #a578ff)
          drop-shadow(0 0 15px #a578ff);
  transition: fill .18s ease, filter .18s ease;
}




.region-tooltip {
  font-size: 16px;
  font-weight: 600;

  
  padding: 4px 8px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  text-align: center;
  pointer-events: none;
  background: rgba(15, 62, 100, 0.603); /* темно-синий с прозрачностью */
  backdrop-filter: blur(8px);         /* блюр заднего фона */
  -webkit-backdrop-filter: blur(8px); /* для Safari */
  border-radius: .5rem;                /* скругление углов */
  
  color: white;
  text-align: center;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); /* легкая тень */
  transition: all 0.3s ease;
}
