@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.swiper-slide {
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 1;
}

.swiper-slide-active {
  z-index: 10;
  transform: scale(1); /* активный слайд не увеличивается */
}

.swiper-slide:not(.swiper-slide-active):hover {
  transform: scale(1.03);
  z-index: 5;
}
