@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #23153c;
}

/* Красивый скролл в неоновом стиле */
.neon-scroll::-webkit-scrollbar {
  width: 8px;
}

.neon-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.neon-scroll::-webkit-scrollbar-thumb {
  background: rgba(155, 77, 255, 0.4);
  border-radius: 10px;
  
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.neon-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(155, 77, 255, 0.7);
  
}
